version: '3.5'

services:

  web:
    container_name: what-should-i-read
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - '/src'
      - '/src/node_modules'
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
      - API_KEY=<Enter your NYT Dev API here>


 