<html>

<head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>

<body>
    <main>
        <header>
            <h1>What Should I read next?</h1>
        </header>

        <section class="book">
            <p>
                <%= title%>
            </p>

            <p>
                by
            </p>
            <p>
                <%=  author %>
            </p>

        </section>
    </main>

</body>

</html>