<html>

<head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>

<body>
    <main>
        <header>
            <h1>What Should I read next?</h1>
        </header>

        <section class="book">
            <div>
                <a href="<%= url%>" target="_blank">
                    <%= title%>
                </a>
            </div>
            <div>
                by
            </div>
            <div>
                <%=  author %>
            </div>
            <form action="/" method="GET">
                <input type="submit" value="Try Again">
            </form>
        </section>

    </main>

</body>

</html>